/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 body {
    background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
 }


 #centralize {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
 }


 #root-container-tax_calculator {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    width: 80vh;
    height: 80vh;
    background-color: white;
    display: flex;
    justify-content: center;
    
 }

 #container-monthly_salary {
    width: 10vh;
    height: 10vh;
    background-color: black;
 }
 
/* 
 #title-tax_calculator {
 } */
