<div id="centralize">
    <div id="root-container-tax_calculator">
    <br><br>
        <p style="font-size: 2vh"> [Philippines 2023 | Tax Calculator]<br></p>
        <div id="container-monthly_salary">

        </div>
    </div>  
</div>